:root {
  --bg-color: #f5f5f5;
  --text-color: #333;
  --link-color: #200676;
}

:root[dark-mode] {
  --bg-color: #333;
  --text-color: #f5f5f5;
  --link-color: #5627f0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.5s ease;
}

a {
  color: var(--link-color);
}

.styled-div {
  margin: 2em 0;
  padding: 1em;
  width: 500px;
  background-color: rgba(106, 97, 146, 0.255);
  border-radius: 1em;
}

.theme-btn {
  background-color: rgba(0, 0, 0, 0.5);
  color: #f5f5f5;
  padding: 1em;
  border: none;
  cursor: pointer;
  border-radius: 1em;
  position: fixed;
  bottom: 1em;
  right: 1em;
}
